{% extends "index.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-9">
    <div class="chart-wrapper">
            <div class="chart-title">
                About
            </div>
            <div class="chart-stage">
                <center><img src="/static/img/Jons_Bot_Logo-login.png">
                    <p>PrydeBot Version {{ about }}</p>
                    <p>Written by <a href="mailto:jp3dcustoms@gmail.com">JonPryde</a></p>
                    <p>Logo By MrNoobtastic</p>
                    <p>Matrix Encoded in <a href="http://python.org">Python</a></p>
                    <p></p>
                </center>
            </div>
        </div>
    </div>
</div>



{% endblock %}
