{% extends "index.html" %}
{% block body %}

<h1>Command Aliases</h1>

<a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/commands">Commands</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/aliases">Aliases</a></li>
        </ul>
</div>

<h2>Add an Alias</h2>
<form action="/alias/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="!command" name="command">
                </p>
                <br>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command is slaved to:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="!command you want to slave to" name="value">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>

</div>
</form>

<h2>Modify/Delete Alias</h2>
{% for row in commands %}


<form action="/alias/edit/{{ row['id'] }}" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
                <a class="navbar-brand" title="Delete" href="/alias/remove/{{ row['id'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['command'] }}" name="command">
                </p>
                <br>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command is slaved to:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['value'] }}" name="value">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>

</div>
</form>

{% endfor %}

{% endblock %}
