{% extends "index.html" %}
{% block body %}


<h1>Settings</h1>

       <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/settings">Settings Main</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/settings/editors">Editors</a></li>
          <li><a href="/settings/bannedwords">Banned Words</a></li>
          <li><a href="/settings/modules">Modules</a></li>
          <li><a href="/#">Settings Link 2</a></li>
          <li><a href="/#">Settings Link 3</a></li>
          <li><a href="/settings/twitch">Twitch Settings</a></li>
          <li><a href="/about">About PrydeBot</a></li>

        </ul>
</div>

<h2>Add Banned Word</h2>

<form action="/banned/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Add Editor
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Word to Ban
            </div>
            <div class="chart-stage">
                <input type="text" class="text" placeholder="banned word" name="word">

            </div>
        </div>
    </div>


</div>

</form>

<h2>Modify/Delete Words</h2>

{% for row in words %}

<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <a class="navbar-brand" title="Delete" href="/banned/remove/{{ row['word'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Banned Word
            </div>
            <div class="chart-stage">
                <p>
                  {{ row['word'] }}
                </p>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>

</div>


{% endfor %}

{% endblock %}
