{% extends "index.html" %}
{% block body %}

<h1>Custom Commands</h1>

<a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/commands">Commands</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/aliases">Aliases</a></li>
        </ul>
</div>

<h2>Add Custom Command</h2>

<form action="/commands/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Add Command
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command
            </div>
            <div class="chart-stage">
                <p>
                <input type="text" class="text" placeholder="!command" name="command">
				</p><br>
                    Cooldown: <input type="text" class="text" placeholder="time in seconds" name="cooldown">

            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command Response
            </div>
            <div class="chart-stage">
                <p>
                    <textarea cols="150" rows="2"  name="response">Response you want</textarea>
                </p><br>
            </div>
        </div>
    </div>

</div>

</form>

<h2>Modify/Delete Custom Command</h2>
{% for row in commands %}

<form action="/commands/edit/{{ row['id'] }}" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
                </a>
                <a class="navbar-brand" title="Delete" href="/commands/remove/{{ row['id'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command
            </div>
            <div class="chart-stage">
                <p>
                <input type="text" class="text" value="{{ row['command'] }}" name="command">
				</p><br>
                    Cooldown: <input type="text" class="text" value="{{ row['cooldown'] }}" name="cooldown">

            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="chart-wrapper">
            <div class="chart-title">
                Command Response
            </div>
            <div class="chart-stage">
                <p>
                    <textarea cols="150" rows="2"  name="response">{{ row['value'] }}</textarea>
                </p><br>
            </div>
        </div>
    </div>

</div>
</form>

{% endfor %}

{% endblock %}
