{% extends "index.html" %}
{% block body %}

{% set channel = channel %}
{% set raffles = raffles %}

<!-- Scripts for the various parts go here -->
<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#follower').load('/api/data/follower');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#followers').load('/api/data/follows');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#bot').load('/api/data/botstatus');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#cron').load('/api/data/cronstatus');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#raffles').load('/api/data/rafflelist');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#sub').load('/api/data/sub');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#subs').load('/api/data/subs');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#uptime').load('/api/data/uptime');
    }, 1000); // refresh every 60000 milliseconds
</script>

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#viewers').load('/api/data/viewers');
    }, 1000); // refresh every 60000 milliseconds
</script>

<div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Chat?
          </div>
          <div class="chart-stage">
            <iframe frameborder="<frameborder 0>"
                scrolling="no"
                id="{{ channel }}"
                src="https://www.twitch.tv/embed/{{ channel }}/chat"
                height="650"
                width="395">
            </iframe>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-8">
            <div class="chart-wrapper">
              <div class="chart-title">
                Banner Art
              </div>
              <div class="chart-stage">
                  <table cellpadding="50" cellspacing="50">
                      <col width="250">
                      <tr>
                          <td>
                              <img src="/static/img/Jons_Bot_Logo-login.png">
                          </td>
                          <td valign="top">
                              Insert possible RSS feed with updates on prydebot, no bigger than 200 pixels deep
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="chart-notes">
                RSS Feed may be delayed by up to an hour.
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Bot Health
              </div>
                <div class="chart-stage"><center>
                  <p><strong><form action="/service/bot">Bot Status: <button id="bot" class="prydebot_offline"></button></form></p><p><form action="/service/cron">Cron Status: <button id="cron" class="prydebot_online"></button></form></strong></p>

              </center>
              </div>
              <div class="chart-notes">
                To Enable or Disable either the bot or the cron, just click on the button.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Channel Stats
              </div>
              <div class="chart-stage">
                  <table cellspacing="50" cellpadding="50">
                      <col width="175">
                      <col width="250">
                      <tr>
                          <td>Total Followers:</td>
                          <td id="followers"></td>
                      </tr>
                      <tr>
                          <td>Most Recent Follower:</td>
                          <td id="follower"></td>
                      </tr>
                      <tr>
                          <td>Total Subs:</td>
                          <td id="subs"></td>
                      </tr>
                      <tr>
                          <td>Most Recent Sub:</td>
                          <td id="sub"></td>
                      </tr>

                      <tr>
                          <td>Total Viewers:</td>
                          <td id="viewers"></td>
                      </tr>
                      <tr>
                          <td>Current Uptime:</td>
                          <td id="uptime"></td>
                      </tr>
                  </table>
              </div>
              <div class="chart-notes" id="test1">
                All stats delayed by up to a minute.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                title
              </div>
              <div class="chart-stage">
                Something something darkside!!
              </div>
              <div class="chart-notes">
                info here
              </div>
            </div>
          </div>
            <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                title
              </div>
              <div class="chart-stage">
                Something something darkside!!
              </div>
              <div class="chart-notes">
                info here
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Active Raffles
              </div>
              <div class="chart-stage" id="raffles">

              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Songrequest Queue list ?
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x120/white">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Songrequest YT Video
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x120/white">
              </div>
              <div class="chart-notes">
                Add Skip Button?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}