{% extends "index.html" %}
{% block body %}


<h1>Settings</h1>

       <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/settings">Settings Main</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/settings/editors">Editors</a></li>
          <li><a href="/settings/bannedwords">Banned Words</a></li>
          <li><a href="/settings/modules">Modules</a></li>
          <li><a href="/#">Settings Link 2</a></li>
          <li><a href="/#">Settings Link 3</a></li>
          <li><a href="/settings/twitch">Twitch Settings</a></li>
          <li><a href="/about">About PrydeBot</a></li>

        </ul>
</div>

<h2>Add Editors</h2>

<form action="/editors/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Add Editor
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Username
            </div>
            <div class="chart-stage">
                <input type="text" class="text" placeholder="username" name="username">

            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="chart-wrapper">
            <div class="chart-title">
                Password
            </div>
            <div class="chart-stage">
                <p>
                    <input type="password" class="text" value="password" name="password">
                </p>
            </div>
        </div>
    </div>

</div>

</form>

<h2>Modify/Delete Editors</h2>

{% for row in editors %}

<form action="/editors/edit/{{ row['username'] }}" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
                <a class="navbar-brand" title="Delete" href="/editors/remove/{{ row['username'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Username
            </div>
            <div class="chart-stage">
                <p>
                  <input type="text" class="text" value="{{ row['username'] }}" name="username">
                </p>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Password
            </div>
            <div class="chart-stage">

                    <input type="password" class="text" value="{{ row['password'] }}" name="password">


            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>

</div>
</form>

{% endfor %}

{% endblock %}
