<!DOCTYPE html>
<html>
<head>
  <title>PrydeBot</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/keen-dashboards.css" />

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
          <img src="/static/img/logo.png">
        </a>
        <a class="navbar-brand" href="/">PrydeBot</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/commands">Commands</a></li>
          <li><a href="/points">Points</a></li>
          <li><a href="/quotes">Quotes</a></li>
          <li><a href="/raffle">Raffles</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logs<b class="caret"></b></a>
              <ul class="dropdown-menu">
              <li><a href="/logs/bot">Bot Logs</a></li>
            </ul>
          </li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>

        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">

      {% block body %}
      {% endblock %}


  </div>



    <hr>

    <p class="small text-muted">&nbsp;</p>

  </div>

  <script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/static/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="/static/lib/keen-js/dist/keen.min.js"></script>
  <script type="text/javascript" src="/static/js/meta.js"></script>

</body>
</html>
