{% extends "index.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-9">
    <div class="chart-wrapper">
            <div class="chart-title">
                {{ log_name }} Logs
            </div>
            <div class="chart-stage">
                <pre> {{ logs }}</pre>
            </div>
        </div>
    </div>
</div>



{% endblock %}
