{% extends "index.html" %}
{% block body %}


<h1>Settings</h1>

       <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/settings">Settings Main</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/settings/editors">Editors</a></li>
          <li><a href="/settings/bannedwords">Banned Words</a></li>
          <li><a href="/settings/modules">Modules</a></li>
          <li><a href="/#">Settings Link 2</a></li>
          <li><a href="/#">Settings Link 3</a></li>
          <li><a href="/settings/twitch">Twitch Settings</a></li>
          <li><a href="/about">About PrydeBot</a></li>

        </ul>
</div>

<h2>Add Modules</h2>

<form action="/settings/modules/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Add Module
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Module
            </div>
            <div class="chart-stage">
                <p>
                <input type="text" class="text" placeholder="!command" name="module">
				</p><br>
                    Cooldown: <input type="text" class="text" placeholder="time in seconds" name="cooldown">

            </div>
        </div>
    </div>
</div>

</form><br><br><br><br>

<h2>Enable/Disable Modules</h2>

{% for row in modules %}


<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                {% if row['status'] == 'Disabled' %}
                <form action="/settings/modules/{{ row['command'] }}" method="POST">
                    <input type="hidden" name="status" value="Enabled">
                <input type="submit" value="Enable" class="btn btn-primary btn-large btn-block" >
                </form>

                {% elif row['status'] == 'Enabled' %}
                <form action="/settings/modules/{{ row['command'] }}" method="POST">
                <input type="hidden" name="status" value="Disabled">
                <input type="submit" value="Disable" class="btn btn-primary btn-large btn-block" >
                </form>

                {% endif %}

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Module Name
            </div>
            <div class="chart-stage">
                <p>
                  {{ row['command'] }}
                </p>
            </div>
            <div class="chart-notes">

            </form>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Cooldown
            </div>
            <div class="chart-stage">
                <form action="/settings/modules/edit/{{row['command']}}" method="POST">
                <input type="hidden" name="status" value="Edit">
                Cooldown: <input type="text" class="text" size ="5" value="{{ row['cooldown'] }}" name="cooldown"><input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
                </form>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>


</div>


{% endfor %}

{% endblock %}
