{% extends "index.html" %}
{% block body %}

<h1>Points</h1>

<a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/points">Points</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/ranks">Ranks</a></li>
            <li><a href="/points/upload">Upload CSV</a></li>
            <li><a href="/points/import">Import Points</a></li>
        </ul>
</div>


<h2>Add a User</h2>
<form action="/points/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                User
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="User" name="user">
                </p>
                <br>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Points:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="points" name="points">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>
        <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Time (in minutes):
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="time" name="time">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
        </div></div>

</div>
</form>

<h2>Modify/Delete Points</h2>
{% for row in points %}


<form action="/points/edit/{{ row['id'] }}" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
                <a class="navbar-brand" title="Delete" href="/points/remove/{{ row['id'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                User
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['user'] }}" name="user">
                </p>
                <br>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Points:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['points'] }}" name="points">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Time (in minutes):
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['time'] }}" name="time">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>

</div>
</form>

{% endfor %}

{% endblock %}
