{% extends "index.html" %}
{% block body %}

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            <h1> Profile for {{ username }} </h1>
          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
              <form action="/profile/edit/{{ username }}" method="POST">
              <p>Your New Password <input type="password" class="password" value="p@ssw0rd" name="password"></p>
                <p><input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" ></p>

              </form>
            </div>
          </div>
          <div class="chart-notes">
            <center><b>This will change your password!!!</b></center>
          </div>
        </div>
      </div>
      <div class="col-sm-4">

      </div>
    </div>



    </div>
  </div>



{% endblock %}
