{% extends "index.html" %}
{% block body %}

<h1>Quotes</h1>


<h2>Add a Quote</h2>
<form action="/quotes/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="chart-wrapper">
            <div class="chart-title">
                Quote
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="Quote" name="quote">
                </p>
                <br>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Author:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="user" name="author">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>

</div>
</form>

<h2>Modify/Delete Quotes</h2>
{% for row in quotes %}


<form action="/quotes/edit/{{ row['id'] }}" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
                <a class="navbar-brand" title="Delete" href="/quotes/remove/{{ row['id'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="chart-wrapper">
            <div class="chart-title">
                Quote
            </div>
            <div class="chart-stage">
                <p>

                    <textarea cols="100" rows="2"  name="quote">{{ row['quote'] }}</textarea>
                </p>
                <br>

            </div>
            <div class="chart-notes">
                Quote ID = {{ row['id'] }}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Author:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['author'] }}" name="author">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Date:
            </div>
            <div class="chart-stage">
                <p>
                    {{ row['date'] }}
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>

</div>
</form>

{% endfor %}

{% endblock %}
