{% extends "index.html" %}
{% block body %}

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            Create a Raffle
          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
              <form action="/raffle/add" method="POST">
              <p>Raffle Keyword: <input type="text" class="text" placeholder="!keyword" name="keyword"></p>
                <p>Raffle Options: Follower Only <input name="follower_only" type="checkbox"> &nbsp;&nbsp;&nbsp; Subscriber Only <input name="sub_only" type="checkbox"></p>
                <p><input type="submit" value="Add" class="btn btn-primary btn-large btn-block" ></p>

              </form>
            </div>
          </div>
          <div class="chart-notes">
            This will create a new raffle with a unique identifier.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Raffle Service Status
          </div>
          <script type="text/javascript">
                    var auto_refresh = setInterval(
                        function ()
                            {
                                $('#raffle').load('/api/data/rafflestatus');

                            }, 1000); // refresh every 60000 milliseconds
           </script>
          <div class="chart-stage">
            <p><strong>Service Status: <form action="/service/raffle"><button id="raffle" ></button></form>
          </div>
          <div class="chart-notes">
            Click the buttom above to turn the service on/off
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            List of active raffles and info
          </div>
          <div class="chart-stage">
            <table cellpadding="100" cellspacing="100" id="ex">
              <col width="250">
              <col width="250">
              <col width="125">
              <col width="125">
              <tr>
                <td>Actions</td>
                <td>Raffle Name</td>
                <td><center>Follower Only</center></td>
                <td><center>Sub Only</center></td>
              </tr>
              {% for row in query %}
              <tr>
                <td><form action="/raffle/activate/{{ row['keyword'] }}"><button>Activate</button></form><form action="/raffle/delete/{{ row['keyword'] }}"><button>Delete</button></form></td>
                <td><a href="/raffle/{{ row['keyword'] }}" target="_blank" onClick="window.open('/raffle/{{ row['keyword'] }}','pagename','resizable,height=800,width=600'); return false;">{{ row['keyword'] }}</a></td>
                <td><center>{{ row['follower_only'] }}</center></td>
                <td><center>{{ row['sub_only'] }}</center></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>

              {% endfor %}
            </table>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Raffle Three
          </div>
          <div class="chart-stage">
            name<br>name<br>name<br>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
<!-- end of three -->

    </div>
  </div>



{% endblock %}
