
<table>
    <col width="250">



{% for row in result %}

<tr>
    <td>{{ row['username'] }}</td>
    <td><form action="/raffle/{{ row['keyword'] }}/delete/{{ row['username'] }}"><button type="submit" value="Delete" >Delete</button></form></td>
</tr>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>

{% endfor %}

</table>