{% set keyword = keyword %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ raffle }} Control Panel</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/keen-dashboards.css" />

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="application">

<script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#winner').load('/api/data/winner/{{ keyword }}');
    }, 1000); // refresh every 60000 milliseconds
</script>

<div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            <table>
              <col width="300">
              <tr>
                <td>
                  <h1>Raffle {{ keyword }}</h1>
                </td>
                <td>
                  <form action="/raffle/winner/{{ keyword }}" method="POST"><input type="submit" value="Pick Winner" class="btn btn-primary btn-large btn-block" ></form><br>
                  <form action="/raffle/clear/{{ keyword }}" method="POST"><input type="submit" value="Clear Winner" class="btn btn-primary btn-large btn-block" ></form><br>
                  <form action="/raffle/clearall/{{ keyword }}" method="POST"><input type="submit" value="Clear Users" class="btn btn-primary btn-large btn-block" ></form>

                </td>
              </tr>
            </table>
            <p>The Winner is:  <h1><div id="winner"></div></h1></p>
          </div>


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
           Add Users
          </div>
          <div class="chart-stage">
            <form action="/raffle/{{ keyword }}/add" method="POST">
              <p>Twitch username <input type="text" value="Username" name="username"></p>
                <p><input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" ></p>
          </div>
          <div class="chart-notes">
            This allows you to manually add a user to your raffle.
          </div>
        </div>
      </div>

    </div>

  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
           List of usernames
          </div>
          <script type="text/javascript">
    var auto_refresh = setInterval(
    function ()
    {
    $('#result').load('/api/data/raffle/{{ keyword }}');
    }, 1000); // refresh every 60000 milliseconds
</script>
          <div class="chart-stage" id="result">

          </div>
          <div class="chart-notes">
            This section reloads every 5 seconds.
          </div>
        </div>
      </div>

    </div>
  </div>

<script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/static/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="/static/lib/keen-js/dist/keen.min.js"></script>
  <script type="text/javascript" src="/static/js/meta.js"></script>



</body>
</html>