{% extends "index.html" %}
{% block body %}

<h1>Ranks</h1>

<a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/points">Points</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/ranks">Ranks</a></li>
        </ul>
</div>


<h2>Add a Rank</h2>
<form action="/ranks/add" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Add" class="btn btn-primary btn-large btn-block" >
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Rank Name
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="Rank Name" name="name">
                </p>
                <br>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Starting Points:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="Starting Points" name="from">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>
        <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ending Points:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" placeholder="Ending Points" name="to">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
        </div></div>

</div>
</form>

<h2>Modify/Delete Ranks</h2>
{% for row in rank %}


<form action="/ranks/edit/{{ row['id'] }}" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
                <a class="navbar-brand" title="Delete" href="/ranks/remove/{{ row['id'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Rank Name
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['rank_name'] }}" name="name">
                </p>
                <br>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                Start Points:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['from'] }}" name="from">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="chart-wrapper">
            <div class="chart-title">
                End Points:
            </div>
            <div class="chart-stage">
                <p>
                    <input type="text" class="text" value="{{ row['to'] }}" name="to">
                </p>
                <br>
            </div>
            <div class="chart-notes">

            </div>
        </div>
    </div>

</div>
</form>

{% endfor %}

{% endblock %}
