
{% for row in result %}

<p><a href="/raffle/{{ row['keyword'] }}" target="_blank" onClick="window.open('/raffle/{{ row['keyword'] }}','pagename','resizable,height=800,width=600'); return false;">{{ row['keyword'] }}</a></p>

{% endfor %}