{% extends "index.html" %}
{% block body %}


<h1>Settings</h1>

       <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="/settings">Settings Main</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/settings/editors">Editors</a></li>
          <li><a href="/settings/bannedwords">Banned Words</a></li>
          <li><a href="/settings/modules">Modules</a></li>
          <li><a href="/#">Settings Link 2</a></li>
          <li><a href="/#">Settings Link 3</a></li>
          <li><a href="/settings/twitch">Twitch Settings</a></li>
          <li><a href="/about">About PrydeBot</a></li>

        </ul>
</div>
<script>
function myFunction() {
    var x = document.getElementById("value");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>

{% for row in settings %}

<form action="/settings/edit/{{ row['param'] }}" method="POST">
<div class="row">
    <div class="col-sm-1">
        <div class="chart-wrapper">
            <div class="chart-title">
                Controls
            </div>
            <div class="chart-stage">
                <input type="submit" value="Edit" class="btn btn-primary btn-large btn-block" >
            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Parameter
            </div>
            <div class="chart-stage">
                <p>
                    {{ row['param'] }}
                </p>

            </div>
            <div class="chart-notes">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
            <div class="chart-title">
                Value
            </div>
            <div class="chart-stage">

                    <input type="password" class="text" value="{{ row['value'] }}" name="value" id="value">


            </div>
            <div class="chart-notes">
                <!-- An element to toggle between password visibility -->
                <input type="checkbox" onclick="myFunction()">Show Hidden Data

            </div>
        </div>
    </div>

</div>
</form>

{% endfor %}

{% endblock %}
