
{% extends "index.html" %}
{% block body %}

{% set file = file %}

<h1>Upload new File</h1>
            <form method=post enctype=multipart/form-data>
              <p><input type=file name=file>
                 <input type=submit value=Upload>
            </form>

{% endblock %}